* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);
  --brown800: hsl(14, 45%, 36%);
  --rose800: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);
}

body {
  background-color: var(--stone150);
  font-family: "Outfit", "Young Serif", sans-serif;
  font-size: 16px;
}

.container {
  margin: 5rem auto;
  padding: 2rem;
  background-color: var(--white);
  max-width: 50%;
}

.omelette-image {
  max-width: 100%;
}

.container,
.omelette-image,
.preparation-container {
  border-radius: 10px;
}

.preparation-container {
  padding: 2rem;
  background-color: var(--rose50);
}

